<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1> workout history </h1>

    <form action="/newpage" method="post">
        
        <input type="text" name="newpageName" placeholder="new routine" autocomplete="off">
        <button type="submit" name="newpageBtn"  > create +</button>
        
    </form>


    <!-- search for routines  -->
        

    <!-- ____________________ -->
    <% listofNames.forEach(function(item){ %> 
        <h3> <%= item.WkName %></h3>

        
        <!-- <h2> <%= item._id %></h2> -->
        <form action="/<%= item.WkName %>" method="get">
            <button  type="submit" name="goHere"> open </button>
        </form>

        <!-- need to make a edit/menu option  -->
        <form action="/delete" method="post">
            <td><button formaction="/openIdRoutine" type="submit" name = "editBtn" value="<%= item.WkName %>"> edit </button></td> 

        </form>
    
                <% if(  OpenEditId == item.WkName ){ %>
                       
                                <form style="margin: auto; text-align: center;" action="/updateRoutineName" method="post">
        
                                   
                                <!-- <h3 style=" text-align: center;"> Edit : <%= item.WkName %> </h3> <br> -->
                                    <input type="text" name="updateRoutineName" placeholder="<%= item.WkName %>" autocomplete="off">
                                   
                          
                            <button formaction="/updateRoutineName" type="submit" name = "needsUpdate" value="<%= item._id %>"> save</button> 
                            <button  formaction="/deleteRoutine"  type="submit" name = "deltRotn" value="<%= item._id %>"> delete </button> 
                            <button  formaction="/closeRoutine"  type="submit" name = "cancel" value="<%= item._id %>"> cancel </button> </input> 
                                </form>
                           
                            <% } %>
        <!-- <form action="/deleteRoutine" method="post">
            <button  type="submit" name="deltRotn" value="<%= item._id %>"> delete </button>
           

        </form> -->
        <% }) %>
   

       

</body>
</html>