<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1> workout history </h1>

    <form action="/newpage" method="post">
        
        <input type="text" name="newpageName" placeholder="new routine" autocomplete="off">
        <button type="submit" name="newpageBtn" > create +</button>
        
    </form>

    <% listofNames.forEach(function(item){ %> 
        <h3> <%= item.WkName %></h3>

        
        <!-- <h2> <%= item._id %></h2> -->
        <form action="/<%= item.WkName %>" method="get">
            <button  type="submit" name="goHere"> open </button>
        </form>

        <form action="/deleteRoutine" method="post">
            <button  type="submit" name="deltRotn" value="<%= item._id %>"> delete </button>
            <!-- <button  formaction="/updateRoutineName" type="text" name="updateRoutine" value="<%= item._id %>"> delete </button> -->

        </form>
        <% }) %>
   

       

</body>
</html>