<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workout log create</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/style.css">
<style>
    table, th, td{
        /* border: 1px solid black; */
        text-align: center;
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }
    table{
        width: 50%;
        text-align: center;
        margin:auto;
    }

    
    
    input{
        width: 100px;
        margin: auto;
        text-align: center;
    }
    form{
        padding-top: 30px;
        padding-bottom: 40px;
        margin: auto;
        text-align: center;
    }
</style>

<body>
    <h1 style="text-align: center;"> <%= routineName %></h1>
  

    
    <table>
        <tr>
            <th>Exercises</th>   
            <th>Sets</th>
            <th>Reps</th>
            <th>Weight</th>
        </tr>
        <% workout.forEach(function(item){ %>  
           
            <% for(var i = 0; i< item.sets; i++){ %>  
                <tr>
       
                    <form action="/delete" method="post">
                       <% if( i ==0 ){ %>
                        <td><%= item.name %></td>
                        
                        <% } %>
                        <% if( i !=0 ){ %>
                            <td></td>
                            <% } %>
                    <!-- <td><%= item.name %></td> -->
                    <td> Set <%= i+1 %>: </td>
                    <td><%= item.reps %></td>
                    <td><%= item.weight[i] %></td>
                    <% if( i ==0 ){ %>
                    
                        <td><button formaction="/openMenu" type="submit" name = "editBtnExr" value="<%= item.name%>"> edit </button></td> 

                        <% } %>
                    
                        <% if(  OpenEdit == item.name ){ %>
                            <% if( i ==1 ){ %>
                                <form style="margin: auto; text-align: center;" action="/update" method="post">
        
                                   
                                <h3 style=" text-align: center;"> Edit : <%= item.name %> </h3> <br>
                                    <input type="text" name="updateName" placeholder="<%= item.name %>" autocomplete="off">
                                    <input type="text" name="updateSetNum" placeholder="<%= item.sets %>" autocomplete="off">
                                    <input type="text" name="updateRepNum"  placeholder="<%= item.reps %>"autocomplete="off">
                                    <input type="text" name="updateWeight" placeholder="<%= item.weight %>" autocomplete="off">
                          
                            <button formaction="/update" type="submit" name = "needsUpdate" value="<%= item._id %>"> save</button> 
                            <button  formaction="/delete"  type="submit" name = "skip" value="<%= item._id %>"> delete </button> 
                            <button  formaction="/close"  type="submit" name = "closeMenuExr" value="item>_id"> cancel </button> </input> 
                                </form>
                            <% } %>
                            <% } %> 

                  </form>
                  
                </tr>  
        
                <%}%>
          
                <%})%>

        </table>
 
    <form action="/createItem" method="post">
    
        <input type="text " name="newExr" placeholder="New Exercise" autocomplete="off"> 

        <input type="text " name="setNum" placeholder="set #" autocomplete="off"> 

        <input type="text " name="repsNum" placeholder="rep #" autocomplete="off"> 

        <input type="text " name="weight" placeholder="weight(lbs)" autocomplete="off"> 

        <button  type="submit" name="button" value="<%= routineID %>">submit</button>


    </form>
    

 

    <form action="/" method="get">
    
        <button type="submit" name="homeBtn" > home </button>
        
    </form>

</body>

</html>