<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workout log create</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<body>
    <h1> <%= grindMSG %></h1>
  
    <table>
        <tr>
            <th>Exercises</th>   
            <th>Sets</th>
            <th>Reps</th>
            <th>Weight</th>
        </tr>
    <% workout.forEach(function(item){ %>  
        <tr>
            <form action="/delete" method="post">
          
            <td><%= item.name %></td>
            <td><%= item.sets %></td>
            <td><%= item.reps %></td>
            <td><%= item.weight %></td>

           <td><button type="submit" name = "skip" value="<%= item._id %>" class="fa fa-trash-o" ></button> </td> 
          </form>
        </tr>        
   <% }) %>
</table>
                
          
    <form action="/" method="post">
    
        <input type="text " name="newExr" placeholder="New Exercise" autocomplete="off"> 

        <input type="text " name="setNum" placeholder="set #" autocomplete="off"> 

        <input type="text " name="repsNum" placeholder="rep #" autocomplete="off"> 

        <input type="text " name="weight" placeholder="weight(lbs)" autocomplete="off"> 
        <button type="submit" name="button">+</button>

    
    </form>

</body>
</html>