<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>workout log create</title>
</head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<style>
    /* table, th, td{
        border: 1px solid black;
        text-align: center;

    } */
    table{
        width: 50%;
    }
</style>

<body>
    <h1> <%= grindMSG %></h1>
  

    
    <table>
        <tr>
            <th>Exercises</th>   
            <th>Sets</th>
            <th>Reps</th>
            <th>Weight</th>
        </tr>
        <% workout.forEach(function(item){ %>  
            <!-- <tr>
       
                <form action="/delete" method="post">
              
                <td><%= item.name %></td>
                <td><%= item.sets %></td>
                <td><%= item.reps %></td>
                <td><%= item.weight %></td>
               <td><button type="submit" name = "skip" value="<%= item._id %>"> x </button> </td> 
              </form>
       
            </tr>     -->
            <!-- Below this is testing -->
            <% for(var i = 0; i< item.sets; i++){ %>  
                <tr>
       
                    <form action="/delete" method="post">
                       <% if( i ==0 ){ %>
                        <td><%= item.name %></td>
                        
                        <% } %>
                        <% if( i !=0 ){ %>
                            <td></td>
                            <% } %>
                    <!-- <td><%= item.name %></td> -->
                    <td> Set <%= i+1 %>: </td>
                    <td><%= item.reps %></td>
                    <td><%= item.weight %></td>
                    <% if( i ==0 ){ %>
                        <!-- <td><button type="submit" name = "skip" value="<%= item._id %>"> x </button> </td> 
                        <td><button formaction="/update" type="submit" name = "needsUpdate" value="<%= item._id %>"> -- </button> </td>  -->
                        <td><button formaction="/test" type="submit" name = "testBtn" value="<%= item.name%>"> edit </button></td>
                        <% } %>
                    <!-- <% if( i !=0 ){ %>
                        <td></td> 
                        <% } %> -->
                        <% if(  tValue == item.name ){ %>
                            <% if( i ==1 ){ %>
                                <form action="/update" method="post">
                                
                                    <!-- <td><input type="text" name="updateName" value='<%=item.name%>'></td>
                                    <td><input type="text" name="updateSetNum"  value='<%=item.sets%>'></td>
                                    <td><input type="text" name="updateRepNum"  value='<%=item.reps%>'></td>
                                    <td><input type="text" name="updateWeight" value='<%=item.weight%>'></td> -->
                                    <td><input type="text" name="updateName" ></td>
                                    <td><input type="text" name="updateSetNum" ></td>
                                    <td><input type="text" name="updateRepNum"  ></td>
                                    <td><input type="text" name="updateWeight" ></td>
                          
                            <td><button formaction="/update" type="submit" name = "needsUpdate" value="<%= item._id %>"> - </button> </td> 
                            <td><button  formaction="/delete"  type="submit" name = "skip" value="<%= item._id %>"> x </button> </td> 
                                </form>
                            <% } %>
                            <% } %> 

                  </form>
                  
                </tr>  
                <%}%>

                <%})%>


    <form action="/" method="post">
    
        <input type="text " name="newExr" placeholder="New Exercise" autocomplete="off"> 

        <input type="text " name="setNum" placeholder="set #" autocomplete="off"> 

        <input type="text " name="repsNum" placeholder="rep #" autocomplete="off"> 

        <input type="text " name="weight" placeholder="weight(lbs)" autocomplete="off"> 
        <button type="submit" name="button">+</button>

    
    </form>


</body>

</html>