<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Routine</title>
</head>
<body>

    <% routine.forEach(function(rt){ %> 
    <h1> <%= rt.WkName %></h1>
    <h1> <%= rt._id %></h1>
    <%})%>


    <% ListOfExercises.forEach(function(exercise){ %> 
        <h1> <%= exercise.name %></h1>
        <h1> <%=  exercise.sets %></h1>
        <h1> <%=  exercise.reps %></h1>
    
        <%})%>



    <form action="/createItem" method="post">
    
        <input type="text " name="newExr" placeholder="New Exercise" autocomplete="off"> 

        <input type="text " name="setNum" placeholder="set #" autocomplete="off"> 

        <input type="text " name="repsNum" placeholder="rep #" autocomplete="off"> 

        <input type="text " name="weight" placeholder="weight(lbs)" autocomplete="off"> 

    <% routine.forEach(function(rt){ %> 
        <button  type="submit" name="idBTN" value=" <%=rt._id%>">submit</button>
        <%})%>

    </form>
  
</body>
</html>